Source
.vs/A005_Stitching_Program/v16/.suo
.vs/A005_Stitching_Program/v16/Browse.VC.db
.vs/A005_Stitching_Program/v16/ipch/AutoPCH/1feb6871bae5eba8/SOURCE.ipch
.vs/A005_Stitching_Program/v16/ipch/AutoPCH/4f1b29db5a87f033/SOURCE.ipch
.vs/A005_Stitching_Program/v16/ipch/AutoPCH/54bb6fb8ad22cb20/DATA_CLEANING.ipch
.vs/A005_Stitching_Program/v16/ipch/AutoPCH/7729841a5f76f41e/HEADER.ipch
.vs/A005_Stitching_Program/v16/ipch/AutoPCH/989419e9ef336346/DATA_CLEANING.ipch
.vs/A005_Stitching_Program/v16/ipch/AutoPCH/e7fc627b46b8bf25/SOURCE.ipch
result/.DS_Store
Source.dSYM/Contents/Info.plist
.DS_Store
.vscode/settings.json
